@import "tailwindcss";

@layer inline {
  .font-karla {
    font-family: var(--font-karla), sans-serif;
  }
  .font-robotoSlab {
    font-family: var(--font-roboto-slab), serif;
  }
}

:root {
  --background: #ffffff;
  --foreground: #000000;
}

body {
  background: var(--background);
  color: var(--foreground);
}
